@{
  Layout = "_Layout";
}

@using Library.Models;

<h1>Books</h1>

@if (@Model.Count == 0)
{
  <h3>No Books have been checked out!</h3>
} 

<ul>
  @foreach(Book book in Model)
  {
    <li>@Html.ActionLink($"{book.Title}", "Details", new { id = book.BookId })</li>
    <ul>
      <li>@Html.ActionLink($"{book.Genre}", "Details", new { id = book.BookId })</li>
      <li>@Html.ActionLink($"{book.AuthorFirst}" + " " + $"{book.AuthorLast}", "Details", new { id = book.BookId })</li>
    </ul>
      
  }
</ul>

<p>@Html.ActionLink("Add new book", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>