<div id="header">
  @using (Html.BeginForm("LogOff", "Account"))
  {
    @Html.ActionLink("All Books", "Index", "Books", null, new{@class="btn btn-link headbtn"})
  
    @if (User.Identity.IsAuthenticated)
    {
      <span> | </span>@Html.ActionLink("Your Books", "Details", "Account", null, new{@class="btn btn-link headbtn"}) <span> | </span>

      @Html.ActionLink("Account", "Index", "Account", null, new{@class="btn btn-link headbtn"})<span> | </span>

      <input type="submit" value="Log out" class="btn btn-link" /> 
      }
    
    else
    {
      <span> | </span>@Html.ActionLink("Register", "Register", "Account", null, new {@class="btn btn-link headbtn"})<span> |</span>
      @Html.ActionLink("Log in", "Login", "Account", null, new {@class="btn btn-link headbtn"})<span></span>
    }
  }
</div>