@{
  Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Book>;

<h1>Your Books</h1>

@if (@Model.Any())
{
<ul>
  @foreach(Book book in Model)
  {
    <li>@Html.Label(book.Title)</li>
    <ul>
      <li>@Html.Label(book.Genre)</li>
      <li>@Html.Label(book.AuthorFirst) @Html.Label(book.AuthorLast)</li>
  @using (Html.BeginForm("RemoveFromUser","Books", FormMethod.Post))
      {
        @Html.Hidden("BookId", @book.BookId)
        <button type="submit" class="btn btn-primary">Return</button>
      }
    </ul>
    } 
  </ul> 
  }
  else 
  {
    <h3>You have no books checked out!</h3>
  }