@{
  Layout = "_Layout";
}

@using Library.ViewModels
@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
@using (Html.BeginForm("Register", "Accounts", FormMethod.Post))
{
  @Html.LabelFor(user => user.UserName)
  @Html.EditorFor(user => user.UserName)
  <br>
  @Html.LabelFor(user => user.PatronFirst)
  @Html.EditorFor(user => user.PatronFirst)
  <br>
  @Html.LabelFor(user => user.PatronLast)
  @Html.EditorFor(user => user.PatronLast)
  <br>
  @Html.LabelFor(user => user.Email)
  @Html.EditorFor(user => user.Email)
  <br>
  @Html.LabelFor(user => user.ConfirmEmail)
  @Html.EditorFor(user => user.ConfirmEmail)
  <br>
  @Html.LabelFor(user => user.Password)
  @Html.EditorFor(user => user.Password)
  <br>
  @Html.LabelFor(user => user.ConfirmPassword)
  @Html.EditorFor(user => user.ConfirmPassword)
  <input type="submit" value="Register" />
}